html {
  box-sizing: border-box;
}
*,
::after,
::before {
  box-sizing: inherit;
}

.main {
  max-width: 1000px;
  background-color: rgb(213, 207, 207);

  font-family: "Roboto", sans-serif;
  color: rgb(66, 1, 1);
}
.headerRegular {
  padding-left: 20px;
  color: #240303;
}
